<template name="header">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{pathFor 'home'}}">Mile Marker</a>
		</div>
		<div class="collapse navbar-collapse" id="navigation">
			<ul class="nav navbar-nav">
				<li class="{{activeRouteClass 'home' 'newPosts'}}">
					<a href="{{pathFor 'newPosts'}}">Recent</a>
				</li>
				<li class="{{activeRouteClass 'bestPosts'}}">
					<a href="{{pathFor 'bestPosts'}}">Best</a>
				</li>
				<li class="{{activeRouteClass 'activityPosts'}}">
					<a href="{{pathFor 'activityPosts'}}">Activity</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{{#if currentUser}}
				<li class="{{activeRouteClass 'postSubmit'}}">
					<a href="{{pathFor 'postSubmit'}}">Add Story</a>
				</li>
				<li class="dropdown">
					{{> notifications}}
				</li>
				{{/if}}
				{{> loginButtons}}
			</ul>
		</div>
	</nav>
</template>